<VRTDataset rasterXSize="{{rasterXSize}}" rasterYSize="{{rasterYSize}}">
  {{#each bands}}
  <VRTRasterBand dataType="UInt16" band="{{math @index "+" 1}}">
    {{#each @root/chips}}
    <SimpleSource>
      <SourceFilename relativeToVRT="1">{{this.filename}}</SourceFilename>
      <SourceBand>{{../this}}</SourceBand>
      <SrcRect xOff="0" yOff="0" xSize="{{this.xsize}}" ySize="{{this.ysize}}" />
      <DstRect xOff="{{this.xoffset}}" yOff="{{this.yoffset}}" xSize="{{this.xsize}}" ySize="{{this.ysize}}" />
    </SimpleSource>
    {{/each}}
  </VRTRasterBand>
  {{/each}}
  <Metadata domain="RPC">
    <MDI key="HEIGHT_OFF">{{rpc.heightScaleAndOffset.offset}}</MDI>
    <MDI key="HEIGHT_SCALE">{{rpc.heightScaleAndOffset.scale}}</MDI>
    <MDI key="LAT_OFF">{{rpc.latScaleAndOffset.offset}}</MDI>
    <MDI key="LAT_SCALE">{{rpc.latScaleAndOffset.scale}}</MDI>
    <MDI key="LINE_DEN_COEFF">{{#each rpc.yRFM.denominator}}{{this}} {{/each}}</MDI>
    <MDI key="LINE_NUM_COEFF">{{#each rpc.yRFM.numerator}}{{this}} {{/each}}</MDI>
    <MDI key="LINE_OFF">{{rpc.yScaleAndOffset.offset}}</MDI>
    <MDI key="LINE_SCALE">{{rpc.yScaleAndOffset.scale}}</MDI>
    <MDI key="LONG_OFF">{{rpc.lonScaleAndOffset.offset}}</MDI>
    <MDI key="LONG_SCALE">{{rpc.lonScaleAndOffset.scale}}</MDI>
    <MDI key="SAMP_DEN_COEFF">{{#each rpc.xRFM.denominator}}{{this}} {{/each}}</MDI>
    <MDI key="SAMP_NUM_COEFF">{{#each rpc.xRFM.numerator}}{{this}} {{/each}}</MDI>
    <MDI key="SAMP_OFF">{{rpc.xScaleAndOffset.offset}}</MDI>
    <MDI key="SAMP_SCALE">{{rpc.xScaleAndOffset.scale}}</MDI>
  </Metadata>
</VRTDataset>
